/*   Parallax images
********************************/

  .parallaxImg{
    padding: 0 2em;
  }

  .parallaxImg img,
  .elem-para {
    outline: 20px solid #FFF;
    overflow: hidden;
  }

  .img-para > * {
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    transition-delay: 50ms;
  }
  
  .container-divider {
    background-color: #dddddd;
    background-position: center top;
  }
  .container-divider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    transform: translateY(66%);
    /* z-index: -1; */
    pointer-events: none;
  }
  .container-divider img {
    max-height: 80%;
    max-width: 50%;
  }
  .half{
    width: 50%;
    padding: 0 15px;
  }
  .half:first-of-type{
    text-align: right;
  }

  .half:last-of-type{
    z-index: 2;
  }

  .full{
    text-align: center;
  }

  .full > img,
  .full > .elem-para{
    max-width: 50%;
    margin: auto;
  }

  .full, .half{
    position: relative;
  }

  .half:first-of-type .elem-para{
    transform: translateY(35%);
  }

  .full .elem-para{
    transform: translateY(-50%);
  }

  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/

  /* MOBILE */
  @media (max-width: 576px) {

    .half{
      width: 100%;
      padding: 0;
      margin-bottom: 1em;
    }
    .full{
      margin-bottom: 1em;
    }
    .half:last-of-type{
      text-align: left;
    }
    .full > img, .full > .elem-para{
      max-width: 100%;
    }
    .full .elem-para{
      transform: translateY(0vh);
    }
  }